<div>
  <nav class="navbar navbar-expand-lg text-light bg-dark mb-3 pb-0" >
    <div class="container-fluid">
      <p class="navbar-brand fw-bold fs-2" >Todos List</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          
          <li class="nav-item">
            <p class="nav-link disabled  "  tabindex="-1" aria-disabled="true">Priya Sharma</p>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <div class = "container" > 
    <h1 class="text-center mb-3 fs-1" >To-do List</h1>
  <app-todos>
  </app-todos>
</div>
</div>